/*barra de navegação */

body{
    margin: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

}

.page{
    width: 100%;
    margin-left: 0%;
}

nav {
    width: 50%;
}

a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 15.2061px;
    transition: ease-in-out 0.3s;
}

a:hover {
 color: rgb(182, 209, 130);
}

img {
    max-width: 100%;
    display: block;
}

.logo {
 
	width: 90px;
    
}

.barra {
    width: 100%;
    
    background: #28269269;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: solid 1px #1721af73;
}

.barra-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}




/* fim da barra de navegação*/

/* criando início */
html{
    scroll-behavior: smooth;
}


#inicio {
    display: flex;
    background: linear-gradient( #1c1c1ff6 25.00%,#191c9e 50.00%,#1c1c1ff6  80.00%);  
    height: 100vh;
    align-items: center;
    padding: 40px;
        
}

.altura-ajuste{
    width: 100%;
    
}

.ajustador {
    display: flex;
    margin-top: -80px;
    justify-content: space-between;
    align-items: center;
    
}


.linkedin {
    display: flex;
    height: 85px;
    background-color:#3c6ad4;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
}


.apresentacao {
    
    margin-top: auto;
    color:white;
    font-family: 'Times New Roman';
    text-align:left;
    flex-wrap: wrap;
}



.nome {
    font-size: 50px;
}


.link {
    font-size:25px;
    width:50%;
    text-align: center;
    padding: 12px 0 ;
    transition: ease-in-out 0.3s;
}

.link:hover {
    letter-spacing: 5px;
    color: white;
}


/*
@keyframes Animacao {
    from {
        top:-15px;
    }
    to {
        top: 35px;
    }
    
}

.foto2 {
    position:relative;
    animation: Animacao 3.2s infinite alternate-reverse linear;
    margin-left: 100px auto;

}*/

.close-menu {
    display: none;
}

@media only screen and  (max-width:740px){

    .inicioesquerdo{
    padding-top: 100px;

    }

    .foto {
        align-items: center;
        text-align: center;
        width: 300px;
        height: 250px;
        grid-area: foto;
        margin-top: 140px;   
    }

    .linkedin{
       
        width: auto;
       
    }

 
    .descricao {

        display: inline-block;
        font-size: 25px;
        grid-area: descricao;
        color:white;
        text-align: center;
        margin-left: 40px;
        margin-top: 20px;
    }
    }
@media only screen and  (min-width:740px){
    .inicioesquerdo{
        padding-top: 200px;
       
      margin-bottom: 50px;
    }
       .descricao {
        display: inline-block;
        margin-top: 20px;
        max-width: 542px;
        font-size: 25px;
        grid-area: descricao;
        color:white;
        text-align: center;
        margin-left: 10px;
    }
    .linkedin {
        width: 300px;
        text-align: center;
    }
  
    .foto {
        padding: 5px 0;
        align-items: center;
        text-align: center;
        align-items: center;
        text-align: center;
        padding-right: 60px ;
        width: 200px;
        height: 250px;
        grid-area: foto;
    }

    
    }
@media only screen and  (min-width:820px){
    .inicioesquerdo{
        padding-top: 200px;
        margin-bottom: 50px;
    }
       .descricao {
        display: inline-block;
        margin-top: 20px;
        grid-area: descricao;
        color:white;
        text-align: center;
       margin-left: 100px;
        
    }
    .linkedin {
        width: 500px;
       

    }
  
    .foto {
        padding: 5px 0;
        align-items: center;
        text-align: center;
        align-items: center;
        text-align: center;
        padding-right: 60px ;
        width: 400px;
        height: 250px;
        grid-area: foto;
        padding-top: 100px;
    }

   
    
    }
@media only screen and  (min-width:992px){
    .foto {
        margin-left: 5px auto;
        padding-right: 60px ;
        width: 400px;
        height: 250px;
        grid-area: foto;
    }
    
    }
@media only screen and  (min-width:1200px){
    .descricao {
        display: inline-block;
        margin-top: 20px;
        max-width: 542px;
        font-size: 25px;
        grid-area: descricao;
        color:white;
        text-align: center;
        margin-left: 10px;
        margin-right: 40px;
        margin-left: 90px;
        margin-top: 60px;
    }
    
    .linkedin {
        width: 400px;
        margin-top: 15px;
        text-align: center;
        margin-left: 60px;
    }
    

    .foto {
        margin-right: 10px;
        align-items: center;
        text-align: center;
        padding-top: 1px;
        width: 500px;
        grid-area: foto;
        padding: 10px;
    }
    .organizador {
        display: grid;
        grid-template-columns: 120px;
        grid-template-areas:"descricao";
        line-height: 45px;
    }
    .foto {
        padding: 25px 0;
        margin: auto;
        align-items: center;
        text-align: center;
        
    }
    .inicioesquerdo{
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        width: auto;
        margin-top: -380px;
        padding-top: 200px;
      
         
        }
        .ajustador {
            align-items: center;
        }
       

    
    
    }
   

@media (max-width:1200px) {
    .inicioesquerdo{

        justify-content: center;
        align-items: center;
         
        }
    
    #inicio{
        
        background: linear-gradient( #1c1c1ff6 25.00%,#191c9e 50.00%,#1c1c1ff6  80.00%);       
        height: auto;
    }
    
    

    .ajustador {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

   

    .apresentacao {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

  

    .esquerda {
        margin-left: 15px;
    }

    .direita {
        margin-right: 15px;
    }

    
    .altura-ajuste{
        display: flex;
        justify-content: center;
    }
 

    #inicio {
        display: flex;
        justify-content: center;
    }

    .foto {
        
        display: flex;
        justify-content: center;
        text-align: center;
    }

  

    .nome {
        font-size: 30px;
    }

    .logo {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .barra{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-centro{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .centralizador{
        margin: 0;
    }
    .barra-conteiner {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
    .barra-conteiner .logo{
        width: 100%
    }

    .direita ul {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .direita ul a {
        font-size: 35px;
    }

    /* configurando para mobile */
    .barra {
        display: block;
        position: fixed;
        top: -100vh;
        transition: ease 0.3s;
    }

 
    
    .close-menu-label::after {
        content:'≡';
        position: absolute;
        z-index: 2;
        top: 4rem;
        right: 2rem;
        background: #0d111a;
        color: white;
        font-size: 3rem;
        line-height:3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        border-radius:10px;
        cursor: pointer;
        
         
    }
    
    .close-menu:checked~.barra {
        top: 0;
       
    }
   
    .apresentacao{
        
        padding-top: 300px;
        padding-left:0%;
        margin: auto;
        align-items: center;  
        
    }

   
    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '✕';
        position: fixed;
        
        
    }

    .barra .barra-conteiner ul li a{
        font-size: 20px;
        margin-top: -10px;
        margin-right: 50px;
        padding: auto;
        text-align: center;
        align-items: center;
      
    }
    .logo{
        align-items: center;
        columns: 1; 
    }
    


    .barra {
        background: rgba(29, 25, 25, 0.527);
    }
/* fim da configuração moobile */

}
