
#contato {
    background-color: #1d4ca3;
    
}
.contatoem{
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 87px;
    margin: 0 auto;


}
.fonte {
    width: 100%;
    background-color:#1b438d;
}

.fonte-conteiner {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato-creditos {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding: 10px 0;
    text-align:center;
    width: auto;
   
}

.icons {
    display: flex;
    gap: 25px;
    width: auto;
    margin: 20px;
}

@media (max-width:1200px) {
    .contato-creditos{
        text-align: center;
       
    }
    
    .footer-conteiner {
        display: flex;
        flex-direction: column ;
        padding-bottom: 10px;
    }
   
}

.links1, .links2 {
    height: 52px;
    width: 52px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.7s;
}

.links:hover {
    transform: rotate(-360deg);
}

.links1 {
    background-image: url(../img/githubff2.svg);
}

.links2 {
    background-image: url(../img/linkedinff2.svg);
}

.transparente {
    transition: ease-in-out 0.3s;
}

.transparente:hover {
    opacity: 20;
}