#habilidades {
    background-color: #0d111a;
    margin-top: 5px auto;
    
}

.habilidades-pd {
    padding-top: 73px;
    /*ajuste de página*/
    padding-bottom: 500px;
    /*fin do ajuste*/
}
.clickaqui{
    width: 20px;
    align-items: center;
    margin: auto;
}

.project{
padding: 5px;
padding-top: 4px;
padding-left: 5px;
padding-bottom: 5px;

}
.conteiner-descricao{
    align-items: center;
    text-align: center;
    padding: 5px;
    padding-top: 4px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: white;
    font-family: 'Quando', serif;
    font-size: 20px;
    
} 

.conteiner-descricao{
    display: block;
    text-indent: 20px;
    text-align: center;
}


.habilidades-pd h2 { 
    text-align: center;
    font-family: 'Times new roma';
}



.skills-descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap:50px;
    padding-bottom: 70px;
   
}


.conteiner-skills {
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 100%;
    padding-top: 160px;
    margin:2px auto;
    padding-top: 100px;
}

.skill-box {
    height: 106px;
    width: 106px;
    background-color: #C4C4C4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
    
}

.skill-box:hover {
    background-color: white;
    transform: scale(1.05);
}



@media (max-width:1200px) {

    .conteiner-descricao {
        height: 260px;
        
    }

    #habilidades {
        display: flex;
        justify-content: center;
    }

    .skills-descricao {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        gap:50px;
        padding-bottom: 70px;
        align-items: center;
    }

    .skills-descricao p {
        text-align: center;
    }

}
@media (max-width:950px) {
    .conteiner-skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 300px;
    }

    .conteiner-descricao {
        max-width: 300px;
    }

}

.skill-box .icones-habilidades {
    transition: ease-in-out 0.3s;
}

.skill-box:hover .icones-habilidades {
    opacity: 30;
}



#fundo {
    fill: rgb(88, 83, 83);
}